@font-face
{
    font-family: "Avenir Medium";
    src: url("../fonts/Avenir-Medium-09.ttf");
}

*{
    font-family: 'Avenir Medium';
}

html
{
    scroll-behavior: smooth;
}

.navbar
{
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 2px 5px 2px #00000015;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav .nav-item a
{
    font-size: 18px;
    color: #464646 ;
    
    padding: 0;
}

.nav-item:not(:last-of-type)
{
    border-right: 1.5px solid #00000015;
}

nav .contact-link a
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #FFB406;
    border-radius: 5px;
    padding: 10px 15px;
}

nav button,
nav button:hover,
nav button:active,
nav button:focus
{
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus
{
    outline: none;
    border: none;
    box-shadow: none;
}

#home
{
    background-image: url("../img/home-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 100px;
}
  
#home article img
{
    margin-bottom: 20px;
}

#home article h1
{
    color: white;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 20px;
}

#home article p
{
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

#home article a
{
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #FFB406;
    border-radius: 5px;
    padding: 10px 15px;
}

.menu-title
{
    font-size: 38px;
    font-weight: 600;
    color: #464646;
    padding-bottom: 10px;
    display: inline-block;
}

hr.rounded {
    border-top: 4px solid #005db5;
    border-radius: 5px;
    margin: 0 0 50px 0;
  }

#about
{
    background-image: url("../img/about/bg.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 977px;
}

#about img
{
    margin-bottom: 20px;
}

#about h2
{
    color: #464646;
    margin-bottom: 20px;
}

#about iframe
{
    width: 90%;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

#about p
{
    max-width: 90%;
    font-size: 24px;
    color: #464646;
    font-weight: 500;
}

#award
{
    background-image: url("../img/award/Group\ 73@2x.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 566px;  
}

#award h2
{
    color: #464646;
    font-weight: 600;
    margin-bottom: 50px;
}

#award img
{
    width: 100%;
}

#award article
{
    padding-left: 50px;
}

#award ul
{
    padding-left: 0;
}

#award ul li
{
    font-size: 24px;
    color: #464646;
    list-style-type: none;
    margin-bottom: 20px;
    border: 3px solid #005db5;
    border-radius: 5px;
    padding: 10px 50px;
}

#award .data
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    padding: 10px 10px;
    min-height: 100px;
    color: #464646;
    box-shadow: 1px 1px 2px 2px #0000001a;
    transition: all .2s;
    background-color: white;
    border-radius: 5px;
}

#award .data:hover
{
    transform: scale(1.1);
    box-shadow:  0 0 0 3px #005db5;
}

#values
{
    background-image: url("../img/values/illustrasi.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 0 0;
    min-height: 1355px;
    display: flex;
}

#values h2
{
    font-weight: 600;
    color: #464646;  
    margin: 0 10px 50px 10px;
}

#values .value-item
{
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid #005db5;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px #00000033;
    min-height: 120px;
    padding: 20px 20px ;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    transition: .2s ;
}

#values .value-item:hover
{
    transform: scale(1.03);
}

#values .value-item img
{
    width: 70px;
    margin-right: 20px;
}

#values .value-item p
{
    font-size: 18px;
    color:#464646;
    margin-bottom: 0;
}

#objective
{
    background-image: url("../img/objective/Group\ 73@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 566px;
}

#objective h2
{
    font-weight: 600;
    color: #464646; 
    margin: 0 30px 50px 30px;
}

#objective .objective-item
{
    height: 460px;
    background-color: white;
    border: 3px solid #005db5;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px #ccc;
    margin: 20px 10px;
    padding: 30px 30px;
    position: relative;
    transition: .2s;
}

#objective .objective-item:hover
{
    transform: scale(1.01);
}

.objective-item .number
{
    width: 60px;
    height: 60px;
    background-color: #005db5;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.objective-item .number span
{
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.objective-item img 
{
    width: 175px;
}

.objective-item h3
{
    font-size: 20px;
    margin-top: 40px;
    font-weight: 600;
    color: #464646;
}

.objective-item p
{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    color: #464646;
}

#solution {
    text-align: center;
    margin-top: 80px;
}

.solution-head {
    background-image: url(images/bg-solution-1.svg);
    background-repeat: no-repeat;
}

.solution-head p span
{
    display: block;
    margin-bottom: 20px;
}

.solution-head p span:first-child
{
    font-size: 35px;
}

.solution-head p span:nth-of-type(2)
{
    font-size: 24px;
    color: #005db5;
}

.solution-head p span:last-child
{
    font-size: 30px;
}

.solution-head p {
    font-weight: 600;
    color: #3A3A3A;
    font-size: 22px;
    text-align: center;
}

.solution-platform {
    margin-top: 50px;
}

.solution-platform h2,
.solution-techno h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #005DB5;
    text-align: center;
}

.logo-platform img {
    height: 150px;
}

#solution .platform-card {
    width:80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 30px 15%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .2s ;
}

#solution .platform-card:hover
{
    box-shadow: 0 0 0 3px #005DB5;
}

.platform-card img
{
    width: 100%;
}

#solution .solution-techno
{
    margin-top: 50px;
}

#solution .techno-card
{
    background-color: white;
    min-height: 500px;
    padding: 60px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 10px;
    transition: all .2s ;
}

#solution .techno-card:hover
{
    box-shadow: 0 0 0 3px #005DB5;
}

.techno-card img
{
    margin-bottom: 20px;
}

.img-tech-desc {
    display: flex;
    justify-content: center;
}

.img-tech-desc img {
    height: 60px;
    margin: 0 5px 20px 5px;
}

#solution .techno-card h3
{
    font-size: 20px;
    color: #464646;
    font-weight: 600;
    margin-bottom: 20px;
}

.techno-card p
{
    font-size: 18px;
    color: #464646;
}


.s2c-p2p
{
    margin-top: 50px;
}

.s2c-p2p h2
{
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #464646;
    text-align: center;
}

.s2c-p2p > img
{
    width: 200px;
    margin-bottom: 50px;
}

.img-circle
{
    width: 100%;
    padding: 0 20px;
}

.s2c-p2p .solution-circle
{
    width: 100%;
    transition: all .2s ;
}

.s2c-p2p .solution-circle:hover
{
    transform: scale(1.1);
}

#clients {
    background-image: url("../img/client/Group\ 73@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 550px;
    margin-top: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#clients h1 {
    font-weight: 600;
    color: #464646;
    display: inline-block;
    padding-bottom: 10px;
}

#clients article p {
    font-size: 20px;
    margin: 10px 0 20px 0;
}

#clients .card {
    margin-bottom: 20px;
    border-radius: 9px;
    border: 1px solid #005db5;
    box-shadow: 2px 2px 10px 2px #3131315e;
}

#clients .card-header {
    background-color: #005db5;
    padding: 20px 30px;
    border-radius: 5px;
}

#clients .card-header .card-link {
    color: white;
    font-weight: 600;
}

.card-header .chevron-icon {
    width: 15px;
}



#clients .card-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#clients .card-body img {
    width: 220px;
    margin: 5px;
    transition: .2s;
}

#clients .card-body img:hover {
    transform: scale(1.1);
}

#pn-project {
    background-image: url("../img/pn-project/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 800px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#pn-project h1 {
    font-weight: 600;
    color: #464646;
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;

}

#pn-project .sponsor {
    margin: 50px 0;
}

#pn-project .sponsor img {
    margin: 30px 20px;
    width: 100%;
}

/* #pn-project .triple-logo img
{
    width: 100%;
    height: 65%;
} */

.pn-desc p {
    max-width: 750px;
    min-height: 60px;
    color: #464646;
    font-size: 20px;
    text-align: center;
}

.pn-desc p:nth-of-type(1) {
    max-width: 750px;
    min-height: 60px;
    color: #464646;
    font-size: 22px;
    text-align: center;
}

#demo {
    background-image: url("../img/demo/Group\ 73@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-bottom: 100px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
}


#demo h1 {
    font-weight: 600;
    color: #464646;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#demo h2 {
    color: #464646;
    margin-bottom: 20px;
}

#demo p {
    color: #464646;
    text-align: center;
    margin-bottom: 20px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small {
    width: 30%;
    margin: 20px;
    transition: all .2s linear;
}

.small:hover {
    transform: scale(1.05);
}

.images img {
    width: 100%;
    height: 100%;
    border: 7px solid #005db5;
    border-radius: 3px;
    cursor: pointer;
}

.image__full {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
}

.image {
    width: 50%;
    display: none;
}

.image img {
    width: 100%;
    border: 5px solid #eeeeee;
    border-radius: 3px;
}

.image__active {
    display: block;
    animation-name: animation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes animation {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo span {
    color: rgb(211, 211, 211);
    font-size: 24px;
    font-weight: 900;
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

#demo .live-links {
    display: flex;
    justify-content: center;
}

.live-links a {
    background: linear-gradient(#F5A300, #F67200);
    padding: 5px 20px;
    border-radius: 7px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 20px;

}

#testimonials
{
    margin-bottom: 100px;
}

#testimonials .img-box
{
    width: 165px;
    border-radius: 100%;
    margin: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px 2  nhpx #0000003f;
}


#testimonials .carousel-item > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height:550px;
    margin: 0 15%;
}

#testimonials .img-box img
{
    width: 100%;
    border-radius: 100%;
}

#testimonials p
{
    font-size: 18px;
    color: #464646;
}

#testimonials .overview
{
    font-size: 24px;
    font-style: italic;
    color: #005db5;
    margin: 0 0 16px 0;
}

/* #testimonials .carousel-control-prev,
#testimonials .carousel-control-next
{
    justify-content: start;
} */

#contact {
    background-image: url("../img/contact/bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 800px;
    padding: 20px;
    margin-top: 50px;
}

#contact .container {
    margin-top: 200px;
}

#contact h2 {
    color: white;
    font-weight: 700;
}

#contact .title-adw {
    color: white;
    font-weight: 600;
    font-size: 24px;
}

#contact .addresses img {
    margin-right: 15px;
}

#contact .addresses {
    margin: 30px 0;
}

#contact .addresses span {
    margin-left: 15px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#contact .form-group label {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

#contact .form-group .form-control {
    background-color: rgba(0, 0, 0, .3);
    border: 1.5px solid rgba(255, 255, 255, .3);
    color: white;
}

#contact .form-group .form-control:focus {
    border-color: white;
    box-shadow: none;
}

textarea {
    resize: none;
}

#contact .form-group #inputMessage {
    height: 100px;
}

#contact .btn {
    background-color: #005db5;
    border: 1.5px solid white;
    color: white;
    font-weight: 600;
    padding: 5px 30px;
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/footer/bg.png") center no-repeat;
    background-size: cover;
    padding: 2% 0 3%;
    overflow: hidden;
}

footer p {
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

footer a:hover {
    color: white;
}

footer .links-wrapper {
    margin-top: 10px;
    border-bottom: 1.5px solid white;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

footer .copyright-wrapper p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
    margin-bottom: 0;
    color: white;
    margin-top: 10px;

}

footer .links {
    margin-right: 10px;
}

footer .language {
    margin-right: 10px;
}

footer .links>p,
footer .language>p,
footer .quick-links>p {
    margin-bottom: 10px;
}

footer .quick-links a {
    width: 180px;
    text-align: left;
}

footer .sosmed a img {
    width: 30px;
    margin: 2px 2px;
}


footer .sosmed {
    margin-top: 10px;
}

@media (max-width:1570px) {
    .navbar-brand img {
        width: auto;
        height: 40px;
    }

    .nav-link {
        font-size: 16px;
    }

    .contact-link a {
        font-size: 16px;
        font-weight: 600;
    }

    #pn-project {
        min-height: 700px;
    }


}

@media (max-width:1395px) {
    .nav-link {
        font-size: 13px;
    }


}

@media (max-width:1301px) {
    .nav-link {
        font-size: 12px;
    }

    .navbar {
        padding: 8px 50px;
    }
}

@media (max-width:1240px) {
    .data-content>div>div {
        width: 150px;
    }

    .data-content>div>div span {
        font-size: 20px;
    }

    .data-content>div>div p {
        font-size: 16px;
    }

}

@media (max-width:1220px) {
    .navbar {
        padding: 8px 30px;
    }

    .nav-item
    {
        margin: 8px 0;
    }

    .nav-item:not(:last-of-type) {
        border-right: none;
    }

}

@media (max-width:1200px) {
    .img-tech-desc img
    {
        height: 50px ;
    }

    #pn-project {
        min-height: 600px;
        margin-top: 100px;
    }

    .quick-links {
        width: 300px;
    }

    .quick-links>div {
        flex-direction: column;
    }

    .quick-links>div>div {
        display: flex;
        justify-content: start;
    }

    .quick-links>div>div a:first-child {
        width: 70px !important;
    }

    .quick-links>div>div a:last-of-type {
        width: 200px;
        margin-right: 0;
    }

}

@media (max-width:1060px) {
    .tabs__content h2 {
        font-size: 28px;
    }
}

@media (max-width:991px) {
    .navbar-brand img {
        width: auto;
        height: 30px;
    }

    .contact-link
    {
        display: none;
    }



    #about .video {
        height: 400px;
    }

    #solution {
        margin-top: 100px;
    }

    #award {
        margin-top: 0;
    }

    #award .illust {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #award img {
        width: 70%;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #award h2 {
        text-align: center;
        margin: 0 10px 35px 10px;
    }

    #award ul li {
        text-align: center;
        margin-bottom: 50px;
    }

    .data-wrapper
    {
        margin-bottom: 50px;
    }

    .b2b-diagram {
        width: 50%;
        margin-bottom: 70px;
    }

    #pdc .b2b-content h5 {
        margin-top: 50px;
    }

    .b2b-content .container-fluid .row {
        margin-left: 0;
    }

    .planning-diagram h5 {
        font-size: 16px;
    }

    #pn-project .sponsor img {
        margin: 10px 20px;
        width: 400px;
    }

    /* #pn-project .triple-logo img
    {
        height: 80% !important;
    } */

    #demo {
        margin-top: 170px;
    }

    #clients {
        background-image: none;
        margin-top: 100px;
    }

    .contact form {
        margin-bottom: 100px;
    }

    /* .quick-links > div 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quick-links > div > div
    {
        display: flex;
        justify-content: start;
    }

    .quick-links > div > div a:first-child
    {
        width: 70px;
    }

    .quick-links > div > div a:last-of-type
    {
        width: 200px;
        margin-right: 0;
    } */


}

@media (max-width:830px) {
    .tabs__content h2 {
        font-size: 24px;
    }

    .images {
        flex-direction: column;
        margin: 0 30px;
    }

    .small {
        width: 100%;
    }

    .copyright {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media (max-width:767px) {
    #about {
        min-height: 900px;
    }

    #about .video {
        height: 300px;
    }

    #award {
        align-self: start;
    }

    #award article
    {
        padding-left: 0;
    }

    .data {
        margin-top: 50px;
    }

    #values {
        padding: 0 30px 0 30px;
        margin-top: 10px;
    }

    .solution-head p span
    {
        display: block;
        margin-bottom: 15px;
    }
    
    .solution-head p span:first-child
    {
        font-size: 32px;
    }
    
    .solution-head p span:nth-of-type(2)
    {
        font-size: 20px;
        color: #005db5;
    }

    .solution-head p span:last-child
    {
        font-size: 26px;
    }

    .solution-head p {
        font-weight: 600;
        color: #3A3A3A;
        font-size: 18px;
        text-align: center;
    }

    #solution .techno-card h3
    {
        font-size: 18px;
    }

    .techno-card p
    {
        font-size: 16px;
        color: #464646;
    }

    #pn-project .pn-desc p
    {
        min-height: 100px;
    }

    #testimonials .img-box
    {
        width: 125px;
    }

    #testimonials p
    {
        font-size: 16px;
        color: #464646;
    }

    #testimonials .overview
    {
        font-size: 22px;
        font-style: italic;
        color: #005db5;
        margin: 0 0 16px 0;
    }

    .links p,
    .language p,
    .quick-links p {
        font-size: 14px;
    }

    .quick-links {
        width: 230px;
    }

    .links a,
    .language a,
    .quick-links>div>div a {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .quick-links>div>div a:first-child {
        width: 50px !important;
    }

    .quick-links>div>div a:last-of-type {
        width: 200px;
        margin-right: 0;
    }

}

@media (max-width:670px) {
    #award h2 {
        font-size: 24px;
    }

    #values h2 {
        font-size: 24px;
    }

    #objective h2 {
        font-size: 24px;
    }

    .data-content {
        border: 1.5px solid #005db5;
        border-radius: 10px;
        padding: 20px 20px;
        margin: 10px;
        box-shadow: 0 2px 5px 2px #00000052;
    }

    .data-content>div>div {
        margin: 5px 10px;
        text-align: right;
    }

    .data-content div span {
        font-size: 18px;
    }

    .data-content div p {
        font-size: 10px;
    }

    #clients {
        min-height: 400px;
    }

    #clients .card-header {
        padding: 15px 10px;
    }

    #clients .card-header .card-link {
        font-size: 12px;
    }

    #pn-project .sponsor img {
        margin: 10px 20px;
        width: 350px;
    }

    #pn-project .pn-desc p:nth-of-type(1) {
        font-size: 16px;
        min-height: 70px
    }

    #pn-project .pn-desc p {
        font-size: 14px;
        min-height: 70px;
    }

    #contact h2 {
        font-size: 24px;
    }

    #contact .title-adw {
        font-size: 20px;
    }

    #contact .addresses img {
        width: 40px;
    }

    #contact .addresses span {
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .menu-title {
        font-size: 32px;
    }

    #home img {
        width: 150px;
    }

    #home article h1 {
        font-size: 32px;
    }

    #home article p {
        font-size: 18px;
    }

    #about {
        min-height: 800px;
    }

    #about .adw-link {
        font-size: 16px;
        padding: 5px 15px;
    }

    #objective {
        margin-top: 50px;
    }

    #objective .objective-item {
        padding: 10px 20px;
    }

    #values .value-item {
        flex-direction: column;
        justify-content: center;
    }

    #values .value-item img {
        width: 70px;
        margin: 0;
        margin-bottom: 10px;
    }

    #values .value-item p {
        text-align: center;
    }

    #about img {
        width: 150px;
    }

    #about span {
        font-size: 22px;
    }

    #about p {
        text-align: center;
        font-size: 18px;
    }

    #objective .objective-item {
        margin: 20px 30px;
    }

    #award ul li {
        font-size: 18px;
        padding: 15px 10px;
    }

    .solution-head p span
    {
        margin-bottom: 10px;
    }

    .solution-head p span:first-child
    {
        font-size: 24px;
    }

    .solution-head p span:nth-of-type(2)
    {
        font-size: 20px;
    }

    .solution-head p span:last-child
    {
        font-size: 22px;
    }

    .solution-head p {
        font-weight: 600;
        font-size: 16px;
    }

    #clients .card-body img {
        max-width: 100px;
    }

    #pn-project .sponsor img {
        margin: 10px 20px;
        width: 300px;
    }

    #demo h2
    {
        font-size: 20px;
    }

    #demo p 
    {
        font-size: 14px;
    }

    .s2c-p2p h2
    {
        font-size: 22px;
    }

    #testimonials .img-box
    {
        width: 100px;
        margin-bottom: 30px;
    }

    #testimonials p
    {
        font-size: 14px;
        color: #464646;
    }

    #testimonials .overview
    {
        font-size: 18px;
        font-style: italic;
        color: #005db5;
        margin: 0 0 16px 0;
    }

    footer p {
        float: none;
    }

    footer .sosmed {
        float: none;
    }

}

/* @media (max-width:550px)
{
    .quick-links 
    {
        width: 100%;
    }

    .quick-links > div 
    {
        width: 100%;
    }

    .links p,
    .language p, 
    .quick-links p 
    {
        font-size: 18px;
        margin-bottom: 5px !important;
        margin-top: 20px;
    }

    .links a,
    .language a, 
    .quick-links > div > div a 
    {
        font-size: 16px;
    }

    .quick-links > div > div a:first-child
    {
        width: 70px !important;
    }

    .quick-links > div > div a:last-of-type
    {
        width: 200px;
        margin-right: 0;
    }

} */

@media (max-width:530px) {
    #clients .card-header .card-link {
        padding: 3px 6px;
    }

    #about .video {
        height: 250px;
    }

    footer {
        padding: 2% 5% 3%;
    }

}


@media (max-width:520px) {

    .tabs__button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .tabs__content {
        font-size: 14px;
    }

    .tabs__content ul li {
        font-size: 16px;
    }

    .tabs__content ul li ul li {
        font-size: 12px;
    }

}

@media (max-width:450px)
{
    #testimonials .carousel-item > div
    {
        min-height: 670px;
    }

    .navbar {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .s2c-p2p h2
    {
        font-size: 20px;
    }

    .s2c-p2p > img
    {
        width: 150px;
    }

}

@media (max-width:440px) {
    #award ul li {
        font-size: 14px;
        padding: 10px 5px;
    }

    .img-tech-desc {
        flex-direction: column;
    }

}

@media (max-width:430px) {
    .menu-title {
        font-size: 28px;
    }

    #home {
        top: -130px;
    }

    #pdc {
        margin-bottom: 50px;
    }

    #about {
        min-height: 750px;
    }

    #about .video {
        height: 200px;
    }

    .planning-diagram p {
        font-size: 18px;
    }

    #pn-project .sponsor img {
        margin: 10px 20px;
        width: 250px;
    }

    #solution .techno-card
    {
        padding: 30px 20px;
    }

    .techno-card p
    {
        font-size: 14px;
    }


}

@media (max-width:400px) {
    footer .copyright-wrapper p
    {
        font-size: 14px;
    }
}


@media (max-width:380px) {
    #pn-project .pn-desc p
    {
        min-height: 100px;
    }

    #pn-project .pn-desc p:nth-of-type(1)
    {
        min-height: 100px;
    }
}

@media (max-width:370px) {
    #demo .live-links {
        align-items: center;
        flex-direction: column;
    }

    #award ul li {
        font-size: 12px;
        padding: 10px 3px;
    }

    #pn-project .sponsor img {
        margin: 10px 20px;
        width: 200px;
    }

    .quick-links>div>div a:last-of-type {
        width: 100px;
        margin-right: 0;
    }

}

@media (max-width:350px) {
    #values .value-item p {
        font-size: 16px;
    }

    .objective-item .number {
        width: 40px;
        height: 40px;
    }

    .objective-item .number span {
        font-size: 18px;
    }

    #objective .objective-item img {
        width: 125px;
    }

    .objective-item h3 {
        font-size: 18px;
    }

    .objective-item p {
        font-size: 14px;
    }

    #pn-project .pn-desc p
    {
        min-height: 120px;
    }

    #pn-project .pn-desc p:nth-of-type(1)
    {
        min-height: 120px;
    }

    footer .copyright-wrapper p
    {
        font-size: 12px;
    }


}

@media (max-width:330px) {

    .links a,
    .language a,
    .quick-links>div>div a {
        font-size: 12px;
    }
}







@media (max-height: 650px)
{
    nav .contact-link a
    {
        font-size: 16px;
        padding: 8px 12px;
    }

    #home img {
        width: 150px;
    }

    #home article h1 {
        font-size: 32px;
    }

    #home article p {
        font-size: 18px;
    }
    
    #home article a
    {
        font-size: 16px;
        padding: 8px 12px;
    }
}

@media (max-height:480px)
{
    .navbar-brand img
    {
        width: auto;
        height: 30px;
    }

    nav .contact-link a
    {
        font-size: 14px;
        padding: 5px 10px;
    }

    #home img {
        width: 100px;
        margin-bottom: 10px;
    }

    #home article h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    #home article p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    #home article a
    {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-height: 380px)
{
    .navbar-brand img
    {
        width: auto;
        height: 25px;
    }

    #home img {
        width: 80px;
        margin: 0 0 10px !important;
    }

    #home article h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    #home article p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}






